USE [master]
GO
/****** Object:  Database [DCT_Tools]    Script Date: 11/4/2024 6:29:18 PM ******/
CREATE DATABASE [DCT_Tools]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DCT_Tools', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DCT_Tools.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DCT_Tools_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DCT_Tools_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DCT_Tools].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DCT_Tools]
GO
/****** Object:  Table [dbo].[category_tbl]    Script Date: 11/4/2024 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL,
 CONSTRAINT [PK_category_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_category]    Script Date: 11/4/2024 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_item_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_tbl]    Script Date: 11/4/2024 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](100) NULL,
	[status_id] [int] NULL,
	[item_image] [varbinary](max) NULL,
	[item_description] [varchar](max) NULL,
 CONSTRAINT [PK_item_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_tbl]    Script Date: 11/4/2024 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NULL,
 CONSTRAINT [PK_status_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_tbl]    Script Date: 11/4/2024 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](max) NULL,
 CONSTRAINT [PK_user_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[item_category]  WITH CHECK ADD  CONSTRAINT [FK_item_category_category_tbl] FOREIGN KEY([category_id])
REFERENCES [dbo].[category_tbl] ([id])
GO
ALTER TABLE [dbo].[item_category] CHECK CONSTRAINT [FK_item_category_category_tbl]
GO
ALTER TABLE [dbo].[item_category]  WITH CHECK ADD  CONSTRAINT [FK_item_category_item_tbl] FOREIGN KEY([item_id])
REFERENCES [dbo].[item_tbl] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_category] CHECK CONSTRAINT [FK_item_category_item_tbl]
GO
ALTER TABLE [dbo].[item_tbl]  WITH CHECK ADD  CONSTRAINT [FK_item_tbl_status_tbl] FOREIGN KEY([status_id])
REFERENCES [dbo].[status_tbl] ([id])
GO
ALTER TABLE [dbo].[item_tbl] CHECK CONSTRAINT [FK_item_tbl_status_tbl]
GO
USE [master]
GO
